.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F1F1F3;
  }

* {
    padding: 0;
    margin: 0;
}

  /* Shared Styles */
.opacity {
    opacity: 0.7;
}

.btn-secondary {
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    background-color: white;
    font-size: 18px;
    font-weight: 600;
}

.btn-primary {
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
}

.hover-effect {
    cursor: pointer;
}

  /* Nav Styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 160px;
    margin-bottom: 20px;
}

.nav-title {
    font-weight: bold;
    font-size: 32px;
}

nav a {
    text-decoration: none;
    color: #006A50;
}

/* Banner Styles */

.banner {
    display: flex;
    background-color: #C6E4D6;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 60px;
    margin: 0 160px 80px 160px;
    gap: 150px;
    border-radius: 24px;
    margin-bottom: 80px;
}

.banner-subtitle {
    font-weight: 400;
    opacity: .5;
    font-size: 24px;
    margin-bottom: 16px;
}

.banner-title {
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 24px;
}

/* Pillars Styles */

.pillars {
    margin: 0 160px 80px 160px;
}

.pillar-heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 32px;
}

.pillar-details {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillar-items {
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 24px;
}

.pillar-img {
    margin-bottom: 24px;
    height: 62px;
    width: 62px;
}

.pillar-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.pillar-subtitle {
    opacity: 0.7;
}

.pillar-items:hover {
    background-color: rgba(198, 228, 214, 1);
}

/* Vision Styles */

.vision {
    margin: 0 160px 32px 160px;
}

.vision-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 32px;
}

.vision-heading {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.vision-subheading {
    font-size: 16px;
    opacity: 0.7;
}

.vision-description {
    margin-bottom: 32px;
}

.vision-card {
    border-radius: 16px;
    padding: 24px;
}

.card1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.card2 {
    background-color: rgba(198, 228, 214, 1);
}

.card3 {
    background-color: rgba(247, 235, 207, 1);
}

.vision-img {
    margin-bottom: 24px;
}

.vision-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}

.vision-info {
    opacity: 0.7;
}

.vision-quote {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: auto;
    border-radius: 16px;
    background-color: #FFFFFF;
    padding: 48px 24px;
}

blockquote {
    font-size: 16px;
    color: #333;
    position: relative;
    margin: 0;
  }

.quote-mark {
    font-size: 300px;
    color: #0E0E0E;
    position: absolute;
    top: -100px;
    left: -10px;
    opacity: .3;
}

.vision-main-quote {
    margin-bottom: 12px;
}

.vision-quoter-details {
    opacity: 0.6;
}

/* News Styles */

.news {
    margin: 0 160px;
}

.news-title {
    font-size: 40px;    
    font-weight: bold;
    margin-bottom: 24px;
}

.news-description {
    opacity: 0.7;
    margin-bottom: 32px;
}

.news-card {
    display: flex;
    justify-content: flex-start;
    border-radius: 24px;
    background-color: #FFFFFF;
    padding: 48px;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}

.news-img {
    border-radius: 24px;
}

.news-card-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}

.news-icon {
    margin-bottom: 12px;
}

.news-card-time {
    margin-bottom: 12px;
}

.news-card-details {
    margin-bottom: 32px;
}

.news-card:hover {
    background-color: rgba(198, 228, 214, 1);
}

a {
    text-decoration: none;
}

/* Donate Styles */

.donate {
    text-align: center;
    margin: 0 160px;
}

.donate-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}

.donate-description {
    margin-bottom: 32px;
}

.donate-title, .donate-description {
    text-align: center;
}

.donate-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 0 104px 32px 104px;
}

.donate-taka {
    font-size: 40px;
    opacity: 0.8;

}

.donate-card {
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

input[type="text"] {
    text-align: center;
    padding: 20px 423px;
    font-size: 20px;
    border: none;
}

.donate-input {
    text-align: center;
    margin-bottom: 32px;
}

.donate-button {
    text-align: center;
}

.donate-card:hover {
    background-color: rgba(198, 228, 214, 1);
}

/* footer */

footer {
    background-color: #FFFFFF;
}

.footer-title {
    font-size: 32px;
    font-weight: bold;
    padding: 50px 0 25px 0px;
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 23px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 50px;
}

footer hr {
    margin: 32px 240px;
}